.page-top {
    border-radius: 1rem;
    height: .75rem;
    width: 45%;
}

.event-form * {
    border-radius: 10px !important;
    border-color: #000 !important;
}
.event-form #tags {
    border: none !important;
}

.event-timing input, .loacation input {
    border: 1px solid #000;
    border-radius: 10px;
    padding: .5rem 1rem;
}


.event-form-btn {
    font-size: 1.1rem;
    font-weight:light;
    padding: .5rem 3rem;
    border-radius: 0px !important;
    background-color: #CFD6E2;
    transition: all ease .15s;
}
.event-form-btn:hover, .event-form-btn:focus, .event-form-btn:active {
    background-color: #60769D;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .event-form {
        width: 100%;
    }
}