.sidebar {
    border-radius: 20px;
    background:#00000010;
    backdrop-filter: blur(5px);
    height: fit-content;
    position: fixed;
}

.sidebar-navigations {
    color: #000;
    z-index: 1; 
}

.active-sidebar {
    background-color: #60769D;
    /* border-radius: 20px; */
}
.active-sidebar > .sidebar-navigations {
    color: #fff;
}