@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background-color: #964b7d;
}
span {
  color: #60769d;
  margin: 0 3px;
}
.follow {
  /* background-color: #60769d; */
  accent-color: #60769d;
}
.ad {
  color: #964b7d;
}
.check {
  color: grey;
}
