@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
.btn {
  background-color: #964b7d;
}
span {
  color: #60769d;
  margin: 0 3px;
}
.follow {
  /* background-color: #60769d; */
  accent-color: #60769d;
}
.ad {
  color: #964b7d;
}
.check {
  color: grey;
}